
.body{
    background: linear-gradient(135deg, #ff4b2b, #ff416c, #ff4b2b, #f7b42c, #f3d250);
  background-size: 300% 300%;
  
  }
  .app {
      width: 400px;
      margin: 50px auto;
      padding: 20px;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .todo-input {
      display: flex;
      gap: 10px;
    }
    
    .todo-input input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    .todo-input button {
      padding: 8px 12px;
      border: none;
      background-color: #00aaff;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .todo-input button:hover {
      background-color: #008ecc;
    }
    
    .todo-list {
      margin-top: 20px;
    }
    
    .todo-item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      margin: 20px 0px;
      font-size: 19px;
    }
    
    .todo-item .edit-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 25px;
    }
  
    .todo-item.completed span {
      text-decoration: line-through;
    }
    
    .todo-item input {
      margin-right: 10px;
    }
    
    .filters{
      margin: 30px 10px;
    }
  
    .filters button {
      margin-right: 10px;
      border: none;
      background: none;
      cursor: pointer;
    }
    
    .filters button:hover {
      color: #00aaff;
    }
    
    .strikethrough {
      text-decoration: line-through;
    }
    
    .delete , .edit{
      transition: .5s;
      cursor: pointer;
    }
    
  
    .delete:hover {
      color: red;
    }
  
    .edit:hover {
      color: green;
    }